In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [186]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [187]:
corona = pd.read_csv("/content/drive/My Drive/Colab Notebooks/2019_nC0v_20200121_20200126_cleaned.csv")
corona

     Unnamed: 0 Province/State         Country  ... Suspected  Recovered  Deaths
0             0       Shanghai  Mainland China  ...      10.0        0.0     0.0
1             1         Yunnan  Mainland China  ...       0.0        0.0     0.0
2             2        Beijing  Mainland China  ...       0.0        0.0     0.0
3             3         Taiwan          Taiwan  ...       0.0        0.0     0.0
4             4          Jilin  Mainland China  ...       1.0        0.0     0.0
..          ...            ...             ...  ...       ...        ...     ...
363         363              0          France  ...       0.0        0.0     0.0
364         364              0       Australia  ...       0.0        0.0     0.0
365         365              0           Nepal  ...       0.0        0.0     0.0
366         366              0        Malaysia  ...       0.0        0.0     0.0
367         367        Ontario          Canada  ...       0.0        0.0     0.0

[368 rows x 8 columns]

In [188]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 8 columns):
Unnamed: 0           368 non-null int64
Province/State       368 non-null object
Country              368 non-null object
Date last updated    368 non-null object
Confirmed            368 non-null float64
Suspected            368 non-null float64
Recovered            368 non-null float64
Deaths               368 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 23.1+ KB

In [189]:
corona.describe()

       Unnamed: 0    Confirmed   Suspected   Recovered      Deaths
count  368.000000   368.000000  368.000000  368.000000  368.000000
mean   183.500000    27.959239    5.407609    0.755435    0.720109
std    106.376689   108.327568   25.367858    4.707808    5.166485
min      0.000000     0.000000    0.000000    0.000000    0.000000
25%     91.750000     2.000000    0.000000    0.000000    0.000000
50%    183.500000     4.000000    0.000000    0.000000    0.000000
75%    275.250000    16.000000    0.000000    0.000000    0.000000
max    367.000000  1058.000000  244.000000   42.000000   52.000000

In [190]:
corona_incomplete = corona[corona.isnull().any(axis=1)]
corona_incomplete

Empty DataFrame
Columns: [Unnamed: 0, Province/State, Country, Date last updated, Confirmed, Suspected, Recovered, Deaths]
Index: []

In [191]:
corona_corr = corona.corr()
corona_corr

            Unnamed: 0  Confirmed  Suspected  Recovered    Deaths
Unnamed: 0    1.000000   0.071546   0.065241   0.040458  0.054658
Confirmed     0.071546   1.000000  -0.029584   0.946222  0.951480
Suspected     0.065241  -0.029584   1.000000  -0.028321 -0.026258
Recovered     0.040458   0.946222  -0.028321   1.000000  0.970351
Deaths        0.054658   0.951480  -0.026258   0.970351  1.000000

In [192]:
corona.columns

Index(['Unnamed: 0', 'Province/State', 'Country', 'Date last updated',
       'Confirmed', 'Suspected', 'Recovered', 'Deaths'],
      dtype='object')

In [193]:
corona = corona.drop("Date last updated",axis=1)
corona

     Unnamed: 0 Province/State         Country  ...  Suspected  Recovered  Deaths
0             0       Shanghai  Mainland China  ...       10.0        0.0     0.0
1             1         Yunnan  Mainland China  ...        0.0        0.0     0.0
2             2        Beijing  Mainland China  ...        0.0        0.0     0.0
3             3         Taiwan          Taiwan  ...        0.0        0.0     0.0
4             4          Jilin  Mainland China  ...        1.0        0.0     0.0
..          ...            ...             ...  ...        ...        ...     ...
363         363              0          France  ...        0.0        0.0     0.0
364         364              0       Australia  ...        0.0        0.0     0.0
365         365              0           Nepal  ...        0.0        0.0     0.0
366         366              0        Malaysia  ...        0.0        0.0     0.0
367         367        Ontario          Canada  ...        0.0        0.0     0.0

[368 rows x 7 columns]

In [194]:
corona = corona.drop("Unnamed: 0",axis=1)
corona

    Province/State         Country  Confirmed  Suspected  Recovered  Deaths
0         Shanghai  Mainland China        9.0       10.0        0.0     0.0
1           Yunnan  Mainland China        1.0        0.0        0.0     0.0
2          Beijing  Mainland China       10.0        0.0        0.0     0.0
3           Taiwan          Taiwan        1.0        0.0        0.0     0.0
4            Jilin  Mainland China        0.0        1.0        0.0     0.0
..             ...             ...        ...        ...        ...     ...
363              0          France        3.0        0.0        0.0     0.0
364              0       Australia        4.0        0.0        0.0     0.0
365              0           Nepal        1.0        0.0        0.0     0.0
366              0        Malaysia        4.0        0.0        0.0     0.0
367        Ontario          Canada        1.0        0.0        0.0     0.0

[368 rows x 6 columns]

In [0]:

cat_data = corona["Country"]

In [196]:
cat_data

0      Mainland China
1      Mainland China
2      Mainland China
3              Taiwan
4      Mainland China
            ...
363            France
364         Australia
365             Nepal
366          Malaysia
367            Canada
Name: Country, Length: 368, dtype: object

In [0]:
cat_data = pd.DataFrame(cat_data,columns=["Country"])
cat_data = cat_data.join(pd.DataFrame(corona["Province/State"],columns=["Province/State"]))

In [198]:
cat_data

            Country Province/State
0    Mainland China       Shanghai
1    Mainland China         Yunnan
2    Mainland China        Beijing
3            Taiwan         Taiwan
4    Mainland China          Jilin
..              ...            ...
363          France              0
364       Australia              0
365           Nepal              0
366        Malaysia              0
367          Canada        Ontario

[368 rows x 2 columns]

In [0]:

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

cate = pd.DataFrame()

In [0]:
  data = cat_data["Province/State"]
  data_encoded,data_categories = data.factorize()
  arr = encoder.fit_transform(data_encoded.reshape(-1,1))
  arr = arr.toarray()
  daa = pd.DataFrame(arr,columns=data_categories)
  #print(data_categories)

In [0]:
def makeMeNum(data,daa):
  data_encoded,data_categories = data.factorize()
  arr = encoder.fit_transform(data_encoded.reshape(-1,1))
  arr = arr.toarray()
  damn = pd.DataFrame(arr,columns=data_categories)
  daa = daa.join(damn)

In [0]:
country = daa

In [204]:
country

     Shanghai  Yunnan  Beijing  Taiwan  ...  Chicago  Illinois  California  Ontario
0         1.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
1         0.0     1.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
2         0.0     0.0      1.0     0.0  ...      0.0       0.0         0.0      0.0
3         0.0     0.0      0.0     1.0  ...      0.0       0.0         0.0      0.0
4         0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
..        ...     ...      ...     ...  ...      ...       ...         ...      ...
363       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
364       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
365       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
366       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
367       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      1.0

[368 rows x 40 columns]

In [0]:
corona = corona.drop(["Country","Province/State"],axis=1)

In [206]:
corona

     Confirmed  Suspected  Recovered  Deaths
0          9.0       10.0        0.0     0.0
1          1.0        0.0        0.0     0.0
2         10.0        0.0        0.0     0.0
3          1.0        0.0        0.0     0.0
4          0.0        1.0        0.0     0.0
..         ...        ...        ...     ...
363        3.0        0.0        0.0     0.0
364        4.0        0.0        0.0     0.0
365        1.0        0.0        0.0     0.0
366        4.0        0.0        0.0     0.0
367        1.0        0.0        0.0     0.0

[368 rows x 4 columns]

In [207]:
corona = corona.join(country)
corona

     Confirmed  Suspected  Recovered  ...  Illinois  California  Ontario
0          9.0       10.0        0.0  ...       0.0         0.0      0.0
1          1.0        0.0        0.0  ...       0.0         0.0      0.0
2         10.0        0.0        0.0  ...       0.0         0.0      0.0
3          1.0        0.0        0.0  ...       0.0         0.0      0.0
4          0.0        1.0        0.0  ...       0.0         0.0      0.0
..         ...        ...        ...  ...       ...         ...      ...
363        3.0        0.0        0.0  ...       0.0         0.0      0.0
364        4.0        0.0        0.0  ...       0.0         0.0      0.0
365        1.0        0.0        0.0  ...       0.0         0.0      0.0
366        4.0        0.0        0.0  ...       0.0         0.0      0.0
367        1.0        0.0        0.0  ...       0.0         0.0      1.0

[368 rows x 44 columns]

In [0]:
y = corona["Confirmed"]
X = pd.DataFrame(corona["Shanghai"])

In [0]:
for i in range(len(data_categories)):
  if i==0:
    continue
  X = X.join(corona[data_categories[i]])

In [210]:
X

     Shanghai  Yunnan  Beijing  Taiwan  ...  Chicago  Illinois  California  Ontario
0         1.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
1         0.0     1.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
2         0.0     0.0      1.0     0.0  ...      0.0       0.0         0.0      0.0
3         0.0     0.0      0.0     1.0  ...      0.0       0.0         0.0      0.0
4         0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
..        ...     ...      ...     ...  ...      ...       ...         ...      ...
363       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
364       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
365       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
366       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
367       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      1.0

[368 rows x 40 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [212]:
X_train

     Shanghai  Yunnan  Beijing  Taiwan  ...  Chicago  Illinois  California  Ontario
192       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
158       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
19        0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
148       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
79        0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
..        ...     ...      ...     ...  ...      ...       ...         ...      ...
71        0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
106       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
270       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
348       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0
102       0.0     0.0      0.0     0.0  ...      0.0       0.0         0.0      0.0

[257 rows x 40 columns]

In [0]:
def reset_graph(seed=42):
    tf.reset_default_graph()
    tf.set_random_seed(seed)
    np.random.seed(seed)

In [0]:
n_inputs = 40
n_hidden1 = 600
n_hidden2 = 500
n_hidden3 = 400
n_hidden4 = 300
n_hidden5 = 400
n_hidden6 = 300
n_hidden7 = 300
n_hidden8 = 200
n_hidden9 = 200
n_hidden10 = 100
n_outputs = 2000

drop_out = 0.3

reset_graph()
with tf.name_scope("inputs"):
  X1 = tf.placeholder(tf.float32,shape=[None,n_inputs])
  y1 = tf.placeholder(tf.int64,shape=[None])
  training = tf.placeholder_with_default(False, shape=(), name='training')


with tf.name_scope("layers"):
  hidden1 = tf.layers.dense(X1,n_hidden1,activation = tf.nn.relu)
  hidden1_dropout = tf.layers.dropout(hidden1,drop_out,training= training)

  hidden2 = tf.layers.dense(hidden1_dropout,n_hidden2,activation = tf.nn.relu)
  hidden2_dropout = tf.layers.dropout(hidden2,drop_out,training= training)

  hidden3 = tf.layers.dense(hidden2_dropout,n_hidden3,activation = tf.nn.relu)
  hidden3_dropout = tf.layers.dropout(hidden3,drop_out,training= training)

  hidden4 = tf.layers.dense(hidden3_dropout,n_hidden4,activation = tf.nn.relu)
  hidden4_dropout = tf.layers.dropout(hidden4,drop_out,training= training)

  hidden5 = tf.layers.dense(hidden4_dropout,n_hidden5,activation = tf.nn.relu)
  hidden5_dropout = tf.layers.dropout(hidden5,drop_out,training= training)

  hidden6 = tf.layers.dense(hidden5_dropout,n_hidden6,activation = tf.nn.relu)
  hidden6_dropout = tf.layers.dropout(hidden6,drop_out,training= training)

  hidden7 = tf.layers.dense(hidden6_dropout,n_hidden7,activation = tf.nn.relu)
  hidden7_dropout = tf.layers.dropout(hidden7,drop_out,training= training)

  hidden8 = tf.layers.dense(hidden7_dropout,n_hidden8,activation = tf.nn.relu)
  hidden8_dropout = tf.layers.dropout(hidden8,drop_out,training= training)

  hidden9 = tf.layers.dense(hidden8_dropout,n_hidden9,activation = tf.nn.relu)
  hidden9_dropout = tf.layers.dropout(hidden9,drop_out,training= training)

  hidden10 = tf.layers.dense(hidden9_dropout,n_hidden10,activation = tf.nn.relu)
  hidden10_dropout = tf.layers.dropout(hidden10,drop_out,training= training)

with tf.name_scope("logits"):
  logits = tf.layers.dense(hidden4_dropout,n_outputs)

with tf.name_scope("loss"):
  xentrophy = tf.nn.sparse_softmax_cross_entropy_with_logits(logits=logits,labels=y1)
  loss = tf.reduce_mean(xentrophy)

with tf.name_scope("optimize"):
  optimizer = tf.train.AdamOptimizer(learning_rate=0.01)
  training_ops = optimizer.minimize(loss)

with tf.name_scope("accuracy"):
  correct = tf.nn.in_top_k(logits,y1,1)
  accuracy = tf.reduce_mean(tf.cast(correct,tf.float32))

init = tf.global_variables_initializer()

In [0]:
def next_batch(num, data, labels):
    '''
    Return a total of `num` random samples and labels. 
    '''
    idx = np.arange(0 , len(data))
    np.random.shuffle(idx)
    idx = idx[:num]
    data_shuffle = [data[ i] for i in idx]
    labels_shuffle = [labels[ i] for i in idx]

    return np.asarray(data_shuffle), np.asarray(labels_shuffle)

In [278]:
n_epochs = 10
batch_size = 66

with tf.Session() as sess:
    init.run()
    for epoch in range(n_epochs):
        for iteration in range(5):
            X_batch, y_batch =next_batch(batch_size,X_train.values,y_train.values)
            #print(X_batch.shape,y_batch.shape)
            sess.run(training_ops, feed_dict={training: True, X1: X_batch, y1: y_batch})
        acc_train = accuracy.eval(feed_dict={X1: X_batch, y1: y_batch})
        acc_test = accuracy.eval(feed_dict={X1: X_test, y1: y_test})
        print("Epoch", epoch, "Train accuracy =", acc_train, "Test accuracy =", acc_test)

Epoch 0 Train accuracy = 0.13636364 Test accuracy = 0.13513513
Epoch 1 Train accuracy = 0.18181819 Test accuracy = 0.14414415
Epoch 2 Train accuracy = 0.1969697 Test accuracy = 0.12612613
Epoch 3 Train accuracy = 0.15151516 Test accuracy = 0.1891892
Epoch 4 Train accuracy = 0.1969697 Test accuracy = 0.1981982
Epoch 5 Train accuracy = 0.25757575 Test accuracy = 0.16216215
Epoch 6 Train accuracy = 0.28787878 Test accuracy = 0.15315315
Epoch 7 Train accuracy = 0.3181818 Test accuracy = 0.13513513
Epoch 8 Train accuracy = 0.28787878 Test accuracy = 0.15315315
Epoch 9 Train accuracy = 0.28787878 Test accuracy = 0.17117117